<div class="container mb-3">
  <div class="row">
    <div class="col-md-12 mb-3 mt-3">
      <h3>Nouvelle facture</h3>
    </div>
  </div>

  <div class="row p-3 custom-border">
    <div class="col-md-12">
      <form class="invoice-form">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control form-control-sm" name="code" placeholder="Code facture">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Date vente">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Type de paiement">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control form-control-sm" placeholder="Commentaire">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-2 p-3 custom-border">
    <div class="col-md-3">
      <select class="form-control form-control-sm" placeholder="Article">
        <option value="" disabled selected>Choisissez un article</option>
        <option value="article1">banane</option>
        <option value="article2">jus</option>
        <option value="article3">fraise</option>
        <option value="article4">Eau</option>
        <option value="article5">tomate</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control form-control-sm" placeholder="Quantité">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control form-control-sm" placeholder="Prix unitaire">
    </div>
    <div class="col-md-1 d-flex align-items-center">
      <button type="button" class="btn btn-primary btn-sm">+</button>
    </div>
  </div>

  <div class="row mt-2 p-3 custom-border ">
    <div class="col-md-12 text-right">
      <h3>Total de la commande: 0</h3>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <button type="submit" name="submit" class="btn btn-primary button-save">Enregistrer</button>
    <button type="reset" name="reset" class="btn btn-secondary button-cancel">Annuler</button>
  </div>
</div>
