<div class="container mb-3">
    <div class="row">
      <div class="col-md-12 mb-3 mt-3">
        <h3>Nouvelle facture</h3>
      </div>
      
      <div class="row p-3 custom-border">
        <div class="col-md-12">
          <form class="invoice-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="code" placeholder="Code facture">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" placeholder="Date vente">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" placeholder="Type de paiement">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" placeholder="Commentaire">
              </div>
            </div>
        </form>
    </div>
</div>

            <div class="d-flex justify-content-end">
              <button type="submit" name="submit" class="btn btn-primary button-save">Enregistrer</button>
              <button type="reset" name="reset" class="btn btn-secondary button-cancel">Annuler</button>
            </div>
          
        </div>
      </div>
 
  