.main-container {
    margin: 50px;
  }
  .min-height-600 {
    min-height: 600px;
  }
  .no-flex-wrap {
    flex-wrap: inherit !important;
  }
  .backgroung-grey {
    background-color: #eff2f5 !important;
  }
  .border-none {
    border: none !important;
  }
  .min-height-80 {
    min-height: 80px;
  }
  
  