<table class="table">
    <thead class="thead-light"> <!-- Utilisez thead-light ou thead-dark pour un style de tête de tableau -->
      <tr>
        
        
        <th scope="col">id</th>
        <th scope="col"></th>
        <th scope="col">Code article</th>
        <th scope="col">Designation</th>
        <th scope="col">Prix HT</th>
        <th scope="col">Prix TTC</th>
        <th scope="col">Taux TVA</th>
        <th scope="col">Catégorie</th>
        <th scope="col">action</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><img src="assets/" width="" height=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        <button type="button" class="btn btn-link">  <i class="fas fa-pencil-alt"></i>&nbsp;</button>
        <button type="button" class="btn btn-link"><i class="fas fa-trash-alt"></i>&nbsp;</button>
    </td>
       
      </tr>
    </tbody>
  </table>

  
  