<div class="col">
  <div class="row m-3">
      <div class="col-md-8 p-0">
          <h2>Liste des catégories</h2>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
          <app-button-action (clickEvent)="nouvelCategorie()"></app-button-action>
      </div>
  </div>
  

    
  <!-- Vérification de condition pour afficher l'alerte uniquement si errorMsgs est défini et non vide -->
  <div class="alert alert-danger" role="alert"   *ngIf="errorMsgs ">
    {{ errorMsgs }}
  </div>
  
  <div class="card row m-3">
      <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Code categorie</th>
                <th scope="col">Designation</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of Category">
                <th scope="row">{{cat.id}}</th>
                <td>{{cat.code}}</td>
                <td>{{cat.designation}}</td>
                <td>

                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteCategory"  (click)="selectCatPourSupprimer(cat.id)">
                    <i class="fas fa-trash-alt"></i>Supprimer
                  </button>
                  <a class="btn btn-primary" href="/modifierCategorie/{{cat.id}}" role="button">  <i class="fas fa-pencil-alt"></i>Modifier</a>
                  
                 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
    
<!-- Modal -->
<div class="modal fade" id="modalDeleteCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette catégorie ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="annulerSuppressionCat()"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  (click)="confirmerEtSupprimerCat()"><i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
      </div>
    </div>
  </div>
</div>
